@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:100&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  margin: 0;
  background-color: white;
  background: url("./images/image8.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Encode Sans Expanded', sans-serif; }

.home {
  color: grey;
  font-family: 'Encode Sans Expanded', sans-serif;
  text-align: center; }
  .home .description {
    font-weight: bold; }

.search-container h6 {
  font-size: 75px;
  font-weight: 100;
  margin-block-start: .75em;
  margin-block-end: .75em;
  color: grey;
  font-family: 'Encode Sans Expanded', sans-serif;
  text-align: center;
  padding-left: 30%; }

.search-container form {
  text-align: center;
  padding-left: 30%; }

.search-container input[type=text] {
  width: 20%;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  font-size: 20px; }

.search-container button {
  border-radius: 8px;
  font-size: 20px; }

.search-container button:hover {
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  background-color: grey;
  /* Green */
  color: white; }

.explore-container {
  color: #555555;
  font-family: 'Encode Sans Expanded', sans-serif;
  text-align: center;
  padding-left: 30%; }
  .explore-container h5 {
    font-size: 75px;
    font-weight: 100;
    margin-block-start: .75em;
    margin-block-end: .75em; }

.plantCard {
  border-style: ridge; }
  .plantCard h1 {
    font-size: 30px;
    text-align: center;
    display: block; }
  .plantCard h3 {
    font-style: italic;
    font-size: 25px; }
  .plantCard p {
    font-size: 20px;
    max-width: 2000px; }
  .plantCard button {
    border-radius: 8px;
    font-size: 20px; }
  .plantCard button:hover {
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    background-color: grey;
    /* Green */
    color: white; }
  .plantCard img {
    width: 350px;
    height: 400px;
    float: left; }

.myGarden {
  font-size: 25px;
  color: #555555;
  font-family: 'Encode Sans Expanded', sans-serif;
  text-align: center;
  padding-left: 30%; }
  .myGarden h1 {
    font-weight: 100; }
  .myGarden h2 {
    font-weight: 100; }
  .myGarden p {
    font-weight: 100; }
  .myGarden a {
    color: grey; }
  .myGarden a:hover {
    color: #4a4d4d;
    font-weight: bold; }

.navbar {
  border-bottom: 3px solid #dddddd;
  border-top: 0px solid #dddddd;
  background-image: radial-gradient(white, white);
  height: 220px;
  display: grid;
  grid-area: header; }
  .navbar .nav {
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px; }
    .navbar .nav .title {
      margin-top: 0px;
      display: inline-block;
      width: 250px;
      height: 100px;
      font-family: 'Encode Sans Expanded', sans-serif;
      font-size: 125px;
      font-weight: 200;
      line-height: 0px;
      color: grey;
      text-align: center;
      text-decoration: none; }

.list {
  color: grey;
  display: block;
  float: right;
  width: 200px;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 200;
  line-height: 320px;
  text-align: center;
  text-decoration: none; }
  .list a {
    color: grey; }
  .list a:hover {
    color: #4a4d4d;
    font-weight: bold; }

.item {
  color: white; }

.login {
  text-align: center; }
  .login h4 {
    font-size: 75px;
    font-weight: 100;
    margin-block-start: .75em;
    margin-block-end: .75em;
    padding-left: 30%;
    color: #555555; }
  .login form {
    font-size: 25px;
    font-family: 'Encode Sans Expanded', sans-serif;
    padding-left: 30%; }
  .login input[type=text] {
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 20px; }
  .login input[type=password] {
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 20px; }
  .login button {
    border-radius: 8px;
    font-size: 20px; }
  .login button:hover {
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    background-color: grey;
    /* Green */
    color: white; }
  .login a {
    color: grey;
    font-size: 20px;
    padding-left: 30%; }

.SignupForm {
  text-align: center; }
  .SignupForm h4 {
    font-size: 75px;
    font-weight: 100;
    margin-block-start: .75em;
    margin-block-end: .75em;
    padding-left: 30%;
    color: #555555; }
  .SignupForm form {
    font-size: 25px;
    font-family: 'Encode Sans Expanded', sans-serif;
    padding-left: 30%; }
  .SignupForm input[type=text] {
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 20px; }
  .SignupForm input[type=password] {
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 20px; }
  .SignupForm button {
    border-radius: 8px;
    font-size: 20px; }
  .SignupForm button:hover {
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    background-color: grey;
    /* Green */
    color: white; }
  .SignupForm a {
    color: grey;
    font-size: 20px;
    padding-left: 30%; }

.home {
  font-size: 300%; }
  @media only screen and (min-width: 112.5em) {
    .home {
      font-size: 300%; } }
  @media only screen and (max-width: 100em) {
    .home {
      font-size: 200%; } }

.title {
  font-size: 300%; }
  @media only screen and (min-width: 112.5em) {
    .title {
      font-size: 300%; } }
  @media only screen and (max-width: 100em) {
    .title {
      font-size: 200%; } }

.list {
  font-size: 180%; }
  @media only screen and (min-width: 112.5em) {
    .list {
      font-size: 150%; } }
  @media only screen and (max-width: 100em) {
    .list {
      font-size: 200%; } }

.explore-container {
  font-size: 300%; }
  @media only screen and (min-width: 112.5em) {
    .explore-container {
      font-size: 300%; } }
  @media only screen and (max-width: 100em) {
    .explore-container {
      font-size: 200%; } }
