@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@mixin responsive($breakpoint) {

    @if $breakpoint == phone {
      //em number calculated by dividing the amount of px by default font size (16px) 
      @media only screen and (max-width: 100em) { @content }; //600px 
    }

    @if $breakpoint == l-desk {
      @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
  }

  @mixin center-element {
    position: absolute;
    // left: 50%;
    // top: 50%;
    transform: translate(-50%, -50%);
  }

body{
    margin:0;   
    background-color: white;
    background: url('./images/image8.jpg')  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.home {
    // font-size: 50px;
    color: grey;
    font-family: 'Encode Sans Expanded', sans-serif;
    text-align: center; 

    .description {
        font-weight: bold;
    }
}

.search-container {
    h6{
        font-size: 75px;
        font-weight: 100;
        margin-block-start: .75em;
        margin-block-end: .75em;
        color: grey;
        font-family: 'Encode Sans Expanded', sans-serif;
        text-align: center;
        padding-left: 30%;
    }
    form {
        text-align: center;
        padding-left: 30%;
    }
    input[type=text] {
        width: 20%;
        padding: 10px;
        border-radius: 4px;
        background-color: white;
        font-size: 20px;
      }
    button{
        border-radius: 8px;
        font-size: 20px;
    }
    button:hover {
        border-radius: 8px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        background-color: grey; /* Green */
        color: white; 
    }
}

.explore-container {
    color: rgb(85, 85, 85);
    font-family: 'Encode Sans Expanded', sans-serif;
    text-align: center;
    padding-left: 30%;
    h5 {
        font-size: 75px;
        font-weight: 100;
        margin-block-start: .75em;
        margin-block-end: .75em;
    }
}

.plantCard {
    border-style: ridge;
    h1 {
        font-size: 30px;
        text-align: center;
        display: block;
    }
    h3 {
        font-style: italic;
        font-size: 25px;
    }
    p {
        font-size: 20px;
        // max-width: 2000px;
    }
    button{
        border-radius: 8px;
        font-size: 20px;
    }
    button:hover {
        border-radius: 8px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        background-color: grey; /* Green */
        color: white; 
    }
    img {
        width: 350px;
        height: 400px;
        float: left;
    }
}

.myGarden {
    font-size: 25px;
    // max-width: 600px;
    color: rgb(85, 85, 85);
    font-family: 'Encode Sans Expanded', sans-serif;
    text-align: center;
    padding-left: 30%;
    h1 {
        font-weight: 100;
    }
    h2 {
        font-weight: 100;
    }
    p {
        font-weight: 100;
    }
    a {
        color: grey; 
    }
    a:hover {
        color: rgb(74, 77, 77);
        font-weight: bold;
      }
}

.navbar {
    border-bottom: 3px solid #dddddd;
    border-top: 0px solid #dddddd;
    // padding-top: %;
    background-image: radial-gradient(white, rgb(255, 255, 255));
    height: 220px;
    display: grid;
    grid-area: header;

    .nav {
        display: block;
        list-style-type: disc;
        padding-inline-start: 40px;
        
        .title {
            margin-top: 0px;
            display: inline-block;
            // float: center;
            width: 250px;
            height: 100px;
            font-family: 'Encode Sans Expanded', sans-serif;
            font-size: 125px;
            font-weight: 200;
            line-height: 0px;
            color: grey;
            text-align: center;
            text-decoration: none;

        }
    }
}

.list {
    color: grey;
    display: block;
    float: right;
    width: 200px;
    // height: 100px;
    font-family: 'Encode Sans Expanded', sans-serif;
    // font-size: 25px;
    font-weight: 200;
    line-height: 320px;
    text-align: center;
    text-decoration: none;
    a { color: grey; 
    }
    a:hover {
        color: rgb(74, 77, 77);
        font-weight: bold;
      }
}

.item{
    // font-size:25px;
    color:white;
}

.login {
    text-align: center;
        h4 {
            font-size: 75px;
            font-weight: 100;
            margin-block-start: .75em;
            margin-block-end: .75em;
            padding-left: 30%;
            color: rgb(85, 85, 85);
    }
    form {
        font-size: 25px;
        font-family: 'Encode Sans Expanded', sans-serif;
        padding-left: 30%;
    }
    input[type=text] {
        width: 20%;
        padding: 10px;
        border-radius: 4px;
        background-color: white;
        font-size: 20px;
      }
      input[type=password] {
        width: 20%;
        padding: 10px;
        border-radius: 4px;
        background-color: white;
        font-size: 20px;
      }
    button{
        border-radius: 8px;
        font-size: 20px;
    }
    button:hover {
        border-radius: 8px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        background-color: grey; /* Green */
        color: white; 
    }
    a { 
        color: grey; 
        font-size: 20px;
        padding-left: 30%;
    }
}

.SignupForm {
    text-align: center;
        h4 {
            font-size: 75px;
            font-weight: 100;
            margin-block-start: .75em;
            margin-block-end: .75em;
            padding-left: 30%;
            color: rgb(85, 85, 85);
    }
    form {
        font-size: 25px;
        font-family: 'Encode Sans Expanded', sans-serif;
        padding-left: 30%;
    }
    input[type=text] {
        width: 20%;
        padding: 10px;
        border-radius: 4px;
        background-color: white;
        font-size: 20px;
      }
      input[type=password] {
        width: 20%;
        padding: 10px;
        border-radius: 4px;
        background-color: white;
        font-size: 20px;
      }
    button{
        border-radius: 8px;
        font-size: 20px;
    }
    button:hover {
        border-radius: 8px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        background-color: grey; /* Green */
        color: white; 
    }
    a { 
        color: grey; 
        font-size: 20px;
        padding-left: 30%;
    }
}

.home {
    font-size:300%;
    @include responsive(l-desk) {
      font-size:300%; //1rem = 12px 12/16 = 75%
    }
  
    @include responsive(phone) { // width < 600?
      font-size:200%; //1rem = 6px 6/16 = 37.5%
    //   color:red;
    }
}

.title {
    font-size:300%;
    @include responsive(l-desk) {
      font-size:300%; //1rem = 12px 12/16 = 75%
    }
  
    @include responsive(phone) { // width < 600?
      font-size:200%; //1rem = 6px 6/16 = 37.5%
    //   color:red;
    }
}

.list {
    font-size:180%;
    @include responsive(l-desk) {
      font-size:150%; //1rem = 12px 12/16 = 75%
    }
  
    @include responsive(phone) { // width < 600?
      font-size:200%; //1rem = 6px 6/16 = 37.5%
    //   color:red;
    }
}

.explore-container {
    font-size:300%;
    @include responsive(l-desk) {
      font-size:300%; //1rem = 12px 12/16 = 75%
    }
  
    @include responsive(phone) { // width < 600?
      font-size:200%; //1rem = 6px 6/16 = 37.5%
    //   color:red;
    }
}