@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:100&display=swap');
@mixin responsive($breakpoint) {

    @if $breakpoint == phone {
      //em number calculated by dividing the amount of px by default font size (16px) 
      @media only screen and (max-width: 100em) { @content }; //600px 
    }

    @if $breakpoint == l-desk {
      @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
  }

  @mixin center-element {
    position: absolute;
    // left: 50%;
    // top: 50%;
    transform: translate(-50%, -50%);
  }

body{
    margin:0;   
    background-color: white;
    background: url('./images/image1.jpg')  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.home {
    // font-size: 50px;
    color: white;
    font-family: 'Encode Sans Expanded', sans-serif;
    text-align: center; 

    .description {
        font-weight: bold;
    }
}

.search-container {
    font-size: 50px;
    color: white;
    font-family: 'Encode Sans Expanded', sans-serif;
    text-align: center;
}


.navbar {
    border-bottom: 3px solid #dddddd;
    border-top: 3px solid #dddddd;
    padding-top: 2%;
    background-image: radial-gradient(white, rgb(255, 255, 255));
    height: 225px;
    display: grid;
    grid-area: header;

    .nav {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        
        .title {
            margin-top: 0px;
            display: inline-block;
            // float: center;
            width: 250px;
            height: 100px;
            font-family: 'Encode Sans Expanded', sans-serif;
            font-size: 125px;
            font-weight: 200;
            line-height: 0px;
            color: grey;
            text-align: center;
            text-decoration: none;

        }
    }
}

.list {
    color: grey;
    display: block;
    float: right;
    width: 200px;
    // height: 100px;
    font-family: 'Encode Sans Expanded', sans-serif;
    // font-size: 25px;
    font-weight: 200;
    line-height: 320px;
    text-align: center;
    text-decoration: none;
    a { color: grey; 
    }
}

.item{
    // font-size:25px;
    color:white;
}

.home {
    font-size:300%;
    @include responsive(l-desk) {
      font-size:300%; //1rem = 12px 12/16 = 75%
    }
  
    @include responsive(phone) { // width < 600?
      font-size:200%; //1rem = 6px 6/16 = 37.5%
      color:red;
    }
}

.title {
    font-size:300%;
    @include responsive(l-desk) {
      font-size:300%; //1rem = 12px 12/16 = 75%
    }
  
    @include responsive(phone) { // width < 600?
      font-size:200%; //1rem = 6px 6/16 = 37.5%
      color:red;
    }
}

.list {
    font-size:180%;
    @include responsive(l-desk) {
      font-size:150%; //1rem = 12px 12/16 = 75%
    }
  
    @include responsive(phone) { // width < 600?
      font-size:200%; //1rem = 6px 6/16 = 37.5%
      color:red;
    }
}
